.list {
  padding: 20px;
}
.element {
  display: flex;
  align-items: center;
}
.inputCount {
  margin: 10px;
  padding: 10px;
}
.textName {
}
.buttonNext {
  padding: 10px;
  font-size: 20px;
  background-color: seagreen;
  color: whitesmoke;
  cursor: pointer;
}
.grey {
  color: grey;
}
