.list {
  padding: 20px 0;
  font-size: 18px;
}
.element {
  display: flex;
  align-items: center;
}
.inputCount {
  margin: 10px;
  padding: 10px;
}
.textName {
}
.buttonNext {
  padding: 10px;
  font-size: 20px;
  background-color: seagreen;
  color: whitesmoke;
}
.Title {
  color: lightgray;
}
.op1 {
  color: aqua;
}
.op2 {
  color: aquamarine;
}
.op3 {
  color: springgreen;
}
.slash {
  color: lightgray;
  margin: 0 5px;
}
